body{
	margin:0;
	
}


#jumpMenu{
	
	background-color: orange;
	
	display: flex;
	
	flex-direction: column;
	justify-content: space-evenly;
	
	position: fixed;
	height: 100%;
	text-align: center;
	width: 15%;
	margin: 0;
	
}

main{
	position: absolute;
	left: 15%;
	width: 85%;
	
}

header{
	margin:0;
	
	
	background-color: red;
	position: sticky;
	top:0%;
	
	
	
	
}



header p{
	
	text-align: center;
	font-weight:bold;
	font-size: 30px;
	margin:0;
	padding: 20px 0px;
	
	
}

header nav{
	display: flex;
	background-color: black;
	height: 100px;
	

	align-items: stretch;
	justify-content: space-evenly;
}

button{
	
	background-color: blue;
	padding: 5px 20px;
	font-size: 30 px;
	
	
	width: 200px;
	
	
	
	
}


h1{
	text-align: center;
	
}

#container{
	
	display: flex;
	flex-wrap: wrap;
	
	
	flex-wrap: row wrap;
	
}


#container article{
	
	width: 300px;
	padding: 30px;
	margin: 20px;
	
}




#thanks{
	background-color: lightblue;
	position: fixed;
	
	text-align: center;
	
	bottom: 0%;
	right:0%;
	
	font-weight:bold;
	font-size: 30px;
	
	padding: 30px;
	
	margin:0;
	
}

